@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

html {
  height: 100%;
  min-height:800px;
}
body {
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
 font-family: 'Noto Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.topheader{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.topheader h1{
  font-weight:400;
  padding-top:0;
  margin-top:0;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  margin: 0;
}

.heading{
  display: flex;
    justify-content: space-around;
}
.heading h6{
  font-size: 16px; 
  font-weight: 400;
}
.addcss{
  font-size: 18px!important;
  font-weight: 700!important;
}


#svg_form_time {
  height: 25px;
  /* height: 15px;
  max-width: 80%; */
  margin: 10px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: #7FC3FF;
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px 10px 35px 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  /* box-shadow:0px 2px 5px rgb(0,0,0,0.5); */
}

.disabled {
  display:none;
}

section {
  /* padding: 50px ; */
  max-width: 700px;
  margin: 30px auto;
  /* background:white;
  background:rgba(255,255,255,0.9); */
  backdrop-filter:blur(10px);
  /* box-shadow:0px 2px 10px rgba(0,0,0,0.3); */
  border-radius:5px;
  transition:transform 0.2s ease-in-out;
}


input {
  width: 100%;
  margin: 2px 0px;
  display: inline-block;
  padding: 9px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}
.coverimgs{
  position: relative;
  margin-bottom: 100px;
}
.profileimg{
  position: absolute;
  bottom: -80px;
}
.profilesection label{
  font-size: 19px;
  font-weight: 600;
  color: #000000;
}

.profilesection input {
  width: 100%;
  margin: 2px 0px;
  display: inline-block;
  padding: 9px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}
.profilesection input:focus{
  border:1px solid #accfee;
  outline: none;
}
.profilesection textarea{
  padding: 9px 18px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}
.profilesection textarea:focus{
  border:1px solid #accfee;
  outline: none;
}
.iconimages{
  position: absolute;
  bottom: 15px;
  left: 67px;
}
.iconimages .icon{
  background: white;
    padding: 4px;
    border-radius: 50px;
    
}
.iconimages2{
  position: absolute;
  right: 41px;
  bottom: -7px;
}
.iconimages2 .icon{
  background: white;
    padding: 4px;
    border-radius: 50px;
    box-shadow: 1px 2px 3px 1px #59595963;
}
.gender{
  display: flex;
  align-items: center;
  margin-top: 11px;
}
.gender label{
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.gender input{
  height: 20px;
}

.options_box{
  display: flex;
  border: 1px solid #7FC3FF;
  border-radius: 50px;
  width: fit-content;
}
.options_box h6{
  font-size: 18px;
  font-weight: 600;
}
.add_css{
  background-color: #7FC3FF;
  color: white;
}
.clicktoadd{
  cursor: pointer;
  color: #29ABE2;
  font-size: 20px!important;
}
.fa-check-square{
  display: none;
}


/*---------------- toggle button----------------*/


#toggle_checkbox
{
    display: none;
}

.switchbtn label
{
    display: block;
    /* position: absolute;
    top: 50%;
    right: 0;
    left: 0; */
    width: 98px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #00000040;
    background-color: white;
    border-radius: 56px;
    transform: translateY(4%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star
{
    position: absolute;
    top: 3px;
    left: 5px;
    width: 35px;
    height: 35px;
    background-color: #7FC3FF;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}
#star img{
  position: absolute;
  right: 6px;
  top: 6px;
  width: 67%;
}
#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star
{
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon
{
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}
#moon img{
  position: absolute;
  top: -49px;
  width: 70%;
  right: 2px;
}

#moon:before
{
    content: "";
    position: absolute;
    top: -11px;
    left: 8px;
    width: 40px;
    height: 40px;
    background-color:#ffffff;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: #000;
}

#toggle_checkbox:checked + label #star
{
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: rgb(0, 0, 0);
    display: none;
}

#toggle_checkbox:checked + label .star
{
    color: rgb(0, 0, 0);
}

#toggle_checkbox:checked + label #moon
{
    bottom: 5px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: #000;
}

/*---------------- toggle button----------------*/

.animation_loader{
      display: flex;
			justify-content: center;
			align-items: center;
      margin: 70px 0px;
}
.animation_loader img{
position: absolute;
}

.aylana { 
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 6px solid #29abe2;
  animation: anim 2s linear infinite;
  animation-direction: all;
}
.aylana:before {
  content: "";
  position: absolute;
  top: 110px;
  left: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #8cc63f;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.Personalizesection  h2{
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (min-width: 320px) {
  .heading{
    margin: 30px auto 0px;
  }
  #next {
    width: 85%;
}
section {
  padding: 30px;
  margin-top: 0;
}
.heading {
  max-width: 100%;
}
#svg_form_time{
  max-width: 75%;
  }
  .onlaptop{
    display: none;
  }
  .onmobile{
    display: block;
  }
  /* .profileimg img{
    width: 70%;
  } */
  .profileimg {
    left: 16px;
  }
  body{
    overflow-x: hidden;
  }
  .mobileshow{
    display: flex;
    width: 90%;
   /* justify-content: center; */
   margin: 10px 0px;
  }
  .options_box{
   padding: 10px 10px;;
  }
  .select_options{
    margin: 0px;
  }
  .topheader img{
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  #next {
    width: 83%;
}
  .heading{
    margin: 10px auto 0px;
    max-width: 80%;
  }
  .topheader img{
    width: 14%;
  }
  .select_options{
    margin: 15px 0px;
  }
  .mobileshow{
    display: contents;
    width: 100%;
   /* justify-content: center; */
  }
  .onlaptop{
    display: block;
  }
  .onmobile{
    display: none;
  }
  /* .profileimg img{
    width: 100%;
  } */
  .profileimg{
    left: 35px;
  }
  .options_box{
    padding:12px 15px;
  }
}

@media only screen and (min-width: 992px) {
  #next {
    width: 63%;
}
}

@media only screen and (min-width: 1200px) {
  #next {
    width: 700px;
}
section {
  padding: 0px;
  margin-top: 30px;
}
.heading {
  max-width: 50%;
}
#svg_form_time{
max-width: 50%;
}

}